fastapi==0.116.1
uvicorn==0.35.0
pypdf==5.9.0
sentence-transformers==5.0.0
faiss-cpu==1.11.0.post1
numpy==2.3.1
groq==0.30.0
python-multipart==0.0.20
torch==2.7.1
transformers==4.53.3
scikit-learn==1.7.1